@model ShoppingCartViewModel 


<h2>Your shopping cart</h2>
<h4>Here are the delicious pies in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Pie</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right thModificationWidth">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center ModificationPadding">@line.Amount</td>
                    <td class="text-left ModificationPadding">@line.Pie.Name</td>
                    <td class="text-right ModificationPadding">@line.Pie.Price.ToString("c")</td>
                    <td class="text-right ModificationPadding">@((line.Amount * line.Pie.Price).ToString("c"))</td>
                    <td class="text-right tagDisplay">  
                              
                                <div class="addToCart">
                                    <p class="button btnModificationMargin">
                                        <a class="btn btn-info" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@line.Pie.PieId">Add to cart</a>
                                    </p>
                                </div>
                                <div class="addToCart"> 
                                    <p class="button btnModificationMargin">
                                        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pieId="@line.Pie.PieId">Remove to cart</a>
                                    </p>
                                </div>  
                          
                    </td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>

</table>  

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>